.container {
	width: 1300;
}
ul.octodex {
  position: relative;
  height: 270px;
}

ul.octodex li {
  display: block;
  float: left;
  margin: 0 17px 0 0;
  padding: 0;
}

ul.octodex img {
  width: 270px;
  height: 268px;
  border: 1px solid #c9c9c9;
}

ul.octodex .image-footer {
  height: 36px;
  width: 272px;
  border-bottom: 1px solid #c9c9c9;
  position: absolute;
  top: 100%;
}
.image-number {
  font-size: 11px;
  font-family: Arial, sans-serif;
  color: #c4c5c5;
  font-weight: bold;
  float: left;
  margin-top: 13px;
}
.image-number:before {
    content: "#";
}
.image-footer .image-caption {
  font-size: 10px;
  float: right;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-top: 13px;
}
.image-caption span {
  color: grey;
  padding-right: 3px;
  padding-left: 3px;
}

.image-caption a {
  text-decoration: none;
  color: #333;
}

.image-footer .image-caption span, a, ul {
  float: left;
  display: inline-block;
}
ul.authors {
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul.authors img {
  width: 18px;
  height: 18px;
  margin: -4px 0 0 0;
  padding: 0 2px;
  border: 0px;
  border-radius: 3px;
}
ul.authors li {
  margin-right: 0;
}
.tri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #c9c9c9 transparent transparent transparent;
  position: absolute;
  top: 0px;
  left: 262px;
}